{
  "clienttoken": "",

  "Note_Token:":"Put Your Bot Token Above (If your using replit then make a new secret 'clienttoken' and put ur bot token there... and then keep this string empty)",

  "clientname": "Security Manager",

  "clientid": "1115508064800481362",

  "TestingServerID": "1098619015452164197",

  "clientavatar":"https://cdn.discordapp.com/attachments/941771112470167562/942064898140176414/Ptk7yhroULggizT28VA7gzDizfQN2sjH4xFLkp3OkaVmrNjAV1P3AI-Vhc9LdFszaneZMZ15Hw3Ds88-c-k-c0x00ffffff-no-rj.png",

  "prefix": "-",

  "developerID": ["518803886459322379"],
"mongooseConnectionString": "",
  "colorthemecode":"#FF5733",
  
  "randomMessages_Cooldown": ["Slow It Down Fam...", "Spam Isn't Cool Fam....", "Get Premium dude...", "Never Gonna Let You Down","Subscribe To Boba lol", "Hold ur horses...."],


  "NOTE:" : "IF YOU DONT PUT STUFF HERE IT WILL THROW ERRS",
  "topgg": ""
}


